body{
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.item_old{

    padding-top: 16px;
    margin-top: 15px;
    padding-left: 15px;
}

/* start headline "category"*/
.headline{
     
    color: red;
    font-size: 24px; 
    padding-top: 10px;

}
.lines{
    display: -webkit-box;
}
.line1{
    height: 2px; 
    width: 30%; 
    background-color: #f88c00;
}
.line2{

    height: 2px;
    width: 70%; 
    background-color:#ddd;
}
/*end headline "category"*/

/*start image tools*/

.img-jewllery{
    position: relative;
    overflow: hidden;
}
.but-image{
    position: absolute;
    top: 22px;
    left: 25px;
}

.but-image a{

    border: 1px solid #f88c00;
    padding: 5px 12px;
    background-color:#f88c00 ;
    border-radius: 3px;
    font-size: 11px;
    
}
/*image hover*/
.overlay{
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: burlywood;
    opacity: 0;
    cursor: pointer;
}
.col-lg-5{
    padding-right: 0;
    padding-left: 0px;
}
.img-jewllery:hover .overlay{
    opacity: 0.4;
    transition: .5s ease;
}
.cont-img h1{
    font-weight: bold;
}
@media(max-width:1200px) and (min-width:990px){
    .cont-img h1{
        font-size: 1.9rem;
    }
}

@media(max-width:992px){
   .img-jewllery{
       width: 80%;
   }
}
@media(max-width:500px){
    .cont-img h1{
        font-size: 1.5rem; 
 }
}
@media(max-width:250px){
    .cont-img h1{
        font-size: 1rem; 
 }
}
/*end image tools*/

/*to chenge all <a> decoration*/
.news a{

    text-decoration: none;
    color: black;
}
/*start "ORISSA JEWELLERY" section*/
.cont-img h1 , p{

    padding-bottom: 10px;
}

/*button continue reading*/
.read-more .btn{
    border: 1px solid #f88c00;
    text-transform: uppercase;
    letter-spacing: .4px;
    margin-top: 10px;
}


.read-more .btn{
    font-size: 11px!important;
    color: #404040!important;
}

.read-more:hover .hove{
    background-color: #f88c00 !important;
    color: white !important;
}
/* end section*/

/*line between sections*/

.fire-wall{

    background-color: #ddd; 
    width: 100%; 
    margin-top: 46px;
}
/*number list */


.page-num{

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    width: 20%;
    margin-bottom: 20px;

}

.page-num div{
    border: 1px solid black;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
   


}
.fa {
    margin-top: 5px;
}
.page:hover p{

    background-color: #f88c00;
    
}